.Login{
    height: 90vh;
    display: flex;
  flex-direction: column;
 margin-top: 200px;

}


.form1{
  margin-left: 23px;
}

button.btn{
  margin-left: 60px;
  margin-top: 20px;
}

